@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
  background-color: white;
}

p {
  text-align: center;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.list {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  margin-left:auto; 
  margin-right:auto;
  margin-top: 75px;
  
}

.th{
  color: #FF729F;
  background: lavenderblush;
  text-align: center;
  margin-left:auto; 
  margin-right:auto;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}

.link {
  color: #BC9EC1;
 text-align: end;
 text-decoration: none;
 font-family: 'Raleway', sans-serif;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 23px;
}

.delete {
  color: #BC9EC1;
  font-size: 23px;
}

.bg-myNav {
  background-color: #BC9EC1;
  margin-bottom: 75px;
}

.logo {
  font-family: 'Raleway', sans-serif;
}

.quote {
  color: #8F754F;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}

.cardHeader {
  font-family: 'Raleway', sans-serif;
  font-size: 23px;
}

.blockquote-footer{
  font-family: 'Raleway', sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 70%;
  text-align: center;
}

.label {
  font-family: 'Raleway', sans-serif;
  font-size: 23px;
  color: #2B4162;
}

.details {
  font-family: 'Raleway', sans-serif;
  font-size: 23px;
}

.new {
  text-align: center;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
}

.home {
  text-align: center;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 50px;
}

.tlist {
  font-family: 'Raleway', sans-serif;
  font-size: 23px;
  color: #1F2232;

}

.chat {
  position: absolute;
  left:45%;
}