@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
  background-color: #F5F0F6;
}

h1 {
  text-align: center;
  color: pink;
}

p {
  text-align: center;
  font-size: medium;
}

.list {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  margin-left:auto; 
  margin-right:auto;
  margin-top: 75px;
  
}

.th{
  color: #fe5d9f;
  background: lavenderblush;
  text-align: center;
  margin-left:auto; 
  margin-right:auto;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}

.link {
  color: #fe5d9f;
 text-align: end;
 text-decoration: none;
 font-family: 'Raleway', sans-serif;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 25px;
}

.delete {
  color: red;
}

.bg-myNav {
  background-color: #385F71;
  padding: 50px;
  margin-bottom: 100px;
}

.logo {
  font-family: 'Raleway', sans-serif;
}

.quote {
  color: #8F754F;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}

.cardHeader {
  font-family: 'Raleway', sans-serif;
  font-size: 23px;
}

.blockquote-footer{
  font-family: 'Raleway', sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 70%;
  text-align: center;
}

.label {
  font-family: 'Raleway', sans-serif;
  font-size: 23px;
  color: #2B4162;
}

.details {
  font-family: 'Raleway', sans-serif;
  font-size: 23px;
 
}
